
<div class="page-section">
  <div class="container">
    <ul>
      <%= erb :place_info, locals: { place: @page.country } %>

      <li>Divisions:
        <ol>
          <% @page.divisions.each do |division| %>
            <%= erb :place_info, locals: { place: division } %>
          <% end %>
        </ol>
      </li>

      <li>Largest cities:
        <ol>
          <% @page.cities.each do |city| %>
            <%= erb :place_info, locals: { place: city } %>
          <% end %>
        </ol>
      </li>

    </ul>
  </div>
</div>
